.c-button{
  color: $primary_green;
  border-radius: 20rem;
  border: none;
  padding: 0.9rem 3.7rem;;
  width: auto;
  outline: none;

  &--green{
    background-color: $primary_green;
    color: $primary_white;
  }
}