.c-office {
  font-family: $primary_font;
  justify-content: space-around;
  align-items: center;
  position: relative;

  &__content {
    padding: 0.6rem;
  }

  &__images {
    width: 30rem;
    height: 36rem;
    position: relative;

    &__back {
      height: 23.94rem;
      width: 20.84rem;
      background-image: url('../images/pic_secondary.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 3.08rem;
      bottom: 9.24rem;
    }

    &__front {
      height: 21.54rem;
      width: 14.47rem;
      background-image: url('../images/pic_primary.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 14.89rem;
      top: 10.48rem;
    }
  }

  .c-button {
    width: 50%;
  }
}

@media screen and (max-width: 980px) {
  .c-office__images {
    width: 40rem;
  }
}

@media screen and (max-width: 868px) {
  .c-office__images {
    width: 60rem;
  }

  .c-office {
    .c-button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 739px) {
  .c-office__images {
    width: 80rem;
  }

  .c-office {
    .c-button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 738px) {
  .c-office {
    flex-direction: column;
  }

  .c-office__images {
    width: 100%;
  }

  .c-office {
    .c-button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 490px) {
  .c-office__images__back {
    width: 17.84rem;
  }
  .c-office__images__front {
    width: 11.47rem;
  }
}

@media only screen and (min-device-width: 200px) and (max-device-width: 480px) {
  .c-office {
    flex-direction: column;
  }
}