@mixin font($font-family, $font-filename) {
  @font-face {
    font-family: $font-family;
    src:  url("../fonts/#{$font-filename}.woff2") format('woff2'),
    url("../fonts/#{$font-filename}.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
}