.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: $primary_font;


  &--big {
    font-size: 4.2rem;
    max-width: 51rem;
    text-align: center;
  }

  &--white {
    color: $primary_white;
  }

  &--medium--green {
    font-size: 2.4rem;
    color: $primary_green;
  }
}

.paragraph {
  line-height: 1.92rem;
  font-size: 1.08rem;
  max-width: 29.1rem;
  text-align: justify;
}