.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: $primary_font;
  z-index: 9999;

  &--bold{
    font-weight: bold;
  }

  &--xl-size {
    font-size: 4.2rem;
    max-width: 51rem;
    text-align: center;
  }

  &--l-size{
    font-size: 3.6rem;
    max-width: 51rem;
    text-align: center;
  }

  &--medium{
    font-size: 2.88rem;
    margin-bottom: 2px;
  }

  &--m-size{
    font-size: 1.32rem;
  }

  &--s-size{
    font-size: 1.2rem;
  }

  &--white {
    color: $primary_white;
  }

  &--green{
    color: $primary_green;
  }

  &--medium--green {
    font-size: 2.4rem;
    color: $primary_green;
  }
}

.paragraph {
  line-height: 1.92rem;
  font-size: 1.08rem;
  max-width: 29.1rem;
  text-align: justify;
  font-family: $primary_font;

  &--white-center{
    color: white;
    text-align: center;
  }
}

.hidden{
  display: none !important;
}

