.column{
  display: flex ;
  flex-direction: column;
}

.title{
  font-family: $primary_font;

  &--big{
    font-size: 4.2rem;
    max-width: 51rem;
    text-align: center;

  }

  &--white{
    color: $primary_white;
  }
}